@import "variables";
@import "mixins";
@import "modules";


html, body {
  height: 100%;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.square {
  width: 4rem;
  height: 4rem;
  position: relative;
}

.square-child {
  max-width: 3.388888888888889rem;
  @include project-pos(50%, 50%);
}

.circle-blue {
  @include project-pos(50%, 105%);
}

.main {
  flex: 1;
}
.footer-info, .copyright {
  font-size: 0.8rem;
}

